@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1, h2, h3, h4, h5, h6 {
  background-color:salmon;
  padding:1em;
  margin-bottom: -1rem;
  line-height: 2em;
  color:white;
}

.home-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#content {
  max-width: 960px;
  margin: 0 auto;

}

.banner-box img {
  width:100%;
}

.home-paragraph-3, .home-paragraph-2, .home-paragraph-1{
  text-align:center;
  color:white;
  padding:1rem 0rem;
}

body {
  background-color: #335145	;
  font-family: 'Lato', sans-serif;
}


nav a {
  color:white;
  font-size: 1.1em;
}

main {
  color:white;
}

footer {
  color:white;
}

.align-center {
  text-align:center;
}