@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif, Helvetica;  
}



.headlines {
  background-color:#caf0f8;
  padding:1em;
  margin-bottom: -1rem;
  line-height: 2em;
  color:black;
}

h2 {
    border-top: 5px double;
    border-bottom: 5px double;
    border-color: #335145;
}

.home-headline-2 {
  margin-left:25px;
}

img {
  max-width:100%;
}

header {
  display:grid;
  grid-template-columns: 110px auto;
  align-items: center;
}

nav ul {
  margin:0;
  list-style: none;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  font-size:0.7rem;
}

nav a {
  
  text-decoration:none;
  padding:2rem;
}

nav a:hover {
  text-decoration:underline;
  background: #F3D250;
  color:black;
}

footer {
  display:grid;
  height:55px;
  grid-template-columns: 2fr 1fr;
}

footer div {
  display:flex;
  justify-content: flex-end;
}

.home-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.home-headline-1 {
  grid-column: 1/4;
  grid-row: 1/2;
}

.home-paragraph-1 {
  grid-column: 2/4;
  grid-row: 2/3; 
}

.home-right-img {
  grid-column:  4/6;
  grid-row: 1/3;
}

.home-headline-2 {
  grid-column: 3/6;
  grid-row: 4/5; 
}

.home-paragraph-2 {
  grid-column: 4/6;
  grid-row: 5/7; 
}

.home-left-img {
  grid-column: 1/3;
  grid-row: 4/6; 
}

.before-footer{
  grid-column: 1/6;
  grid-row: 7/8; 
}

#content {
  max-width: 960px;
  margin: 0 auto;

}

.banner-box img {
  width:100%;
}

.home-paragraph-3, .home-paragraph-2, .home-paragraph-1{
  text-align:center;
  color:black;
  padding:1rem 0rem;
}

body {
  /*background-color: #1e6091	;*/
}

/*
.background-waves {
  position:absolute;
  left:0;
  width:100%;
  height:100vh;
  z-index:-1;
  opacity: .5;
}

*/




nav a {
  color:black;
  font-size: 1.1em;
}

main {
  color:black;
}

.home-left-img,
.home-right-img {
     border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
}

footer {
  color:black;
}

.align-center {
  text-align:center;
}

/*Rivers Page*/


#banner-img-river {
  max-height:256.8px;
  object-fit:cover;
}

/*Rivers we run text*/
#image-text {
  position:absolute;
  top:20%;
  left:50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 4vmin;
}

.rivers-headline {
    background-color: #90e0ef;
}

.river-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.river-headline-1 {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align:center;
  font-size:2em;
}

.river-paragraph-1 {
  grid-column: 1/4;
  grid-row: 2/3; 
}

.river-right-img {
  grid-column:  4/6;
  grid-row: 2/3;
  max-height: 400px;
  width:100%;
  object-fit:cover;
}

.river-headline-2 {
  grid-column: 1/4;
  grid-row: 4/5; 
  text-align:center;
  font-size:2em;
}

.river-paragraph-2 {
  grid-column: 1/4;
  grid-row: 5/6; 
}

.river-left-img {
  grid-column: 4/6;
  grid-row: 5/6; 
    max-height: 400px;
  width:100%;
  object-fit:cover;
}

.spacing {
  height:80px;
}

.custom-shape-divider-bottom-1635729661 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1635729661 svg {
    position: relative;
    display: block;
    width: calc(166% + 1.3px);
    height: 172px;
}

.custom-shape-divider-bottom-1635729661 .shape-fill {
    fill: #F3D250;
}

@media screen and (max-width: 550px) { 
  
    .home-grid {
    display: block;
    }
  .home-grid, nav ul {
    display: block;
  }
} 